@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
:root {
  --radius: 0.625rem;
  --background: oklch(98.511% 0.00011 271.152);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(93.705% 0.00011 271.152);
  --primary-foreground: oklch(25.197% 0.00003 271.152);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(1 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(94.912% 0.00011 271.152);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --inputReq-shadow: oklch(1 0 0);
}
.dark {
  --background: oklch(26.507% 0.00759 274.662);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(36.768% 0.00004 271.152);
  --primary-foreground: oklch(97.015% 0.00011 271.152);
  --secondary: oklch(21.137% 0.02257 257.31);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(55.553% 0.00006 271.152);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(85.585% 0.07077 270.741);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(76.9% 0.17337 64.355);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(62.793% 0.25768 29.223 / 0.958);
  --sidebar: oklch(17.423% 0.00165 16.654);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --inputReq-shadow: oklch(0.707 0.022 261.325);
  --codigo-pre: oklch(14.958% 0.00002 271.152);
}
pre{
  background-color: var(--codigo-pre);
  margin-top: -10px;
}
code{
  font-family: var(--font-mono);
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  background: var(--border);
}
h3{
  font-size: 1.5rem;
}
ol{
  list-style-type: disc;
  padding-left: 1.5rem;
  
}ol > li{
  margin: -10px 0px;
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
  /* CSS */
  /* CSS: ya arranca en running sin esperar clase extra */
  .animationForIAWallyLognIn {
    width: 70px;
    top: 50%;
    left: 50%;
    transition: filter 2.5s ease-in-out;
    animation: filtrosYHueLoging 10s running forwards;
  }
  .animationForIAWallyLogUp {
    width: 70px;
    top: 50%;
    left: 50%;
    transition: filter 2.5s ease-in-out;
    animation: filtrosYHueRegister 10s running forwards;
  }

  @keyframes filtrosYHueRegister {
    0% {
      filter: contrast(100%) brightness(200%) saturate(100%) sepia(0%)
        hue-rotate(0deg);
      top: 20%;
      left: 0;
      width: 500px;
    }
    10% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 150px;
      left: -50%;
      width: 70px;
    }
    13% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 150px;
      left: -50%;
      width: 60px;
    }
    20% {
      filter: contrast(120%) brightness(190%) saturate(130%) sepia(10%)
        hue-rotate(60deg);
      top: 120px;
      left: -50%;
      width: 70px;
    }
    23% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 250px;
      left: -50%;
      width: 60px;
    }
    27% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 230px;
      left: -50%;
      width: 70px;
    }
    30% {
      filter: contrast(100%) brightness(210%) saturate(120%) sepia(15%)
        hue-rotate(90deg);
      top: 230px;
      left: -50%;
      width: 70px;
    }
    33% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 350px;
      left: -50%;
      width: 60px;
    }
    37% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 350px;
      left: -50%;
      width: 70px;
    }
    40% {
      filter: contrast(80%) brightness(220%) saturate(90%) sepia(20%)
        hue-rotate(120deg);
      top: 350px;
      left: -50%;
      width: 70px;
    }
    43% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 440px;
      left: -50%;
      width: 60px;
    }
    47% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 440px;
      left: -50%;
      width: 70px;
    }
    50% {
      filter: contrast(90%) brightness(200%) saturate(100%) sepia(25%)
        hue-rotate(150deg);
      top: 440px;
      left: -50%;
      width: 70px;
    }
    53% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 500px;
      left: -50%;
      width: 60px;
    }
    57% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 500px;
      left: -50%;
      width: 70px;
    }
    60% {
      filter: contrast(110%) brightness(180%) saturate(130%) sepia(15%)
        hue-rotate(180deg);
      top: 25%;
      left: 60%;
      width: 200px;
    }
    70% {
      filter: contrast(130%) brightness(170%) saturate(140%) sepia(10%)
        hue-rotate(210deg);
      top: 20px;
      left: 90%;
      width: 200px;
    }
    80% {
      filter: contrast(120%) brightness(200%) saturate(100%) sepia(5%)
        hue-rotate(270deg);
      top: 50px;
      left: 20%;
      width: 200px;
    }
    90% {
      filter: contrast(100%) brightness(195%) saturate(120%) sepia(8%)
        hue-rotate(320deg);
      top: 100px;
      left: 60%;
      width: 200px;
    }
    100% {
      filter: contrast(100%) brightness(200%) saturate(100%) sepia(0%)
        hue-rotate(360deg);
      top: 20%;
      left: 0;
      width: 500px;
    }
  }
  @keyframes filtrosYHueLoging {
    0% {
      filter: contrast(100%) brightness(200%) saturate(100%) sepia(0%)
        hue-rotate(0deg);
      top: 20%;
      left: 0;
      width: 500px;
    }
    10% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 150px;
      left: -50%;
      width: 70px;
    }
    13% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 150px;
      left: -50%;
      width: 60px;
    }
    20% {
      filter: contrast(120%) brightness(190%) saturate(130%) sepia(10%)
        hue-rotate(60deg);
      top: 120px;
      left: -50%;
      width: 70px;
    }
    23% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 250px;
      left: -50%;
      width: 60px;
    }
    27% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 230px;
      left: -50%;
      width: 70px;
    }
    30% {
      filter: contrast(100%) brightness(210%) saturate(120%) sepia(15%)
        hue-rotate(90deg);
      top: 230px;
      left: -60%;
      width: 70px;
    }
    33% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 300px;
      left: -50%;
      width: 60px;
    }
    37% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 300px;
      left: -50%;
      width: 70px;
    }
    40% {
      filter: contrast(80%) brightness(220%) saturate(90%) sepia(20%)
        hue-rotate(120deg);
      top: 300px;
      left: -50%;
      width: 70px;
    }
    43% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 30px;
      left: 30%;
      width: 60px;
    }
    47% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 44px;
      left: 40%;
      width: 70px;
    }
    50% {
      filter: contrast(90%) brightness(200%) saturate(100%) sepia(25%)
        hue-rotate(150deg);
      top: 30px;
      left: 50%;
      width: 70px;
    }
    53% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 40px;
      left: 50%;
      width: 60px;
    }
    57% {
      filter: contrast(110%) brightness(195%) saturate(110%) sepia(5%)
        hue-rotate(30deg);
      top: 50px;
      left: 50%;
      width: 70px;
    }
    60% {
      filter: contrast(110%) brightness(180%) saturate(130%) sepia(15%)
        hue-rotate(180deg);
      top: 25%;
      left: 60%;
      width: 200px;
    }
    70% {
      filter: contrast(130%) brightness(170%) saturate(140%) sepia(10%)
        hue-rotate(210deg);
      top: 20px;
      left: 90%;
      width: 200px;
    }
    80% {
      filter: contrast(120%) brightness(200%) saturate(100%) sepia(5%)
        hue-rotate(270deg);
      top: 50px;
      left: 20%;
      width: 200px;
    }
    90% {
      filter: contrast(100%) brightness(195%) saturate(120%) sepia(8%)
        hue-rotate(320deg);
      top: 100px;
      left: 60%;
      width: 200px;
    }
    100% {
      filter: contrast(100%) brightness(200%) saturate(100%) sepia(0%)
        hue-rotate(360deg);
      top: 20%;
      left: 0;
      width: 500px;
    }
  }
}
